.maindiv
{
	background-color: silver;
	margin: 50px;
	/*margin-right: 70%;*/
	border-style: groove;
	padding: 10px;
	float: left;
	width: 300px;
	height:300px; 
	text-align: center;
}
.butonstyle
{
float:right;
}